<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Administrative Edit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="ha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</head>

<body>
    <form action="/form/submit" method="GET"> 
  <input type="text" name="text" class="search" placeholder="Search here!">
  <input type="submit" name="submit" class="submit" value="Search">
</form>
        <div class="col-md-12">
            <h3 class="text-center">
                Administrator Inventory Edit
            </h3>
            <h3 class="text-center">
                Welcome, ADMIN_FNAME ADMIN_LNAME
            </h3>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>
                            Item Name
                        </th>
                        <th>
                            Item ID
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Calories
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Search for item in upper corner
                        </td>
                        <td>
                            N/A
                        </td>
                        <td>
                            N/A
                        </td>
                        <td>
                            N/A
                        </td>
                        <td>
                            N/A
                        </td>
                        <td>
                            N/A
                        </td>
                    </tr>
            
            <tbody>
                    <tr>
                        <td contenteditable="true">
                            Type to edit
                        </td>
                        <td contenteditable="true">
                            Type to edit
                        </td>
                        <td contenteditable="true">
                            Type to edit
                        </td>
                        <td contenteditable="true">
                            Type to edit
                        </td>
                        <td contenteditable="true">
                            Type to edit
                        </td>
                        <td contenteditable="true">
                            Type to edit
                        </td>
                    </tr>
            </table>
            <center><button type="button">Submit Edits</button></center>
            <br/>
            <center><button type="button">Delete Entry</button></center>
            <br/>
            <form action='/home.html'>
                <input type="submit" value="Go Back to Landing Page" />
            </form>
        </div>
    </div>
</div>

</body>
</html>