<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Order Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="ha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</head>

<body>
    <center><h1>Select the Items You Would Like to Order</h1></center>
    <br/>
    <div class="Select Category">
        <button type="button">Burgers</button>
        <button type="button">Wraps</button>
        <button type="button">Wings</button>
        <button type="button">Other Entrees</button>
        <button type="button">Sides</button>
        <button type="button">Drinks</button>
    </div>
    <table class="table table-sm">
                <thead>
                    <tr>
                        <th>
                            Item
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Calories
                        </th>
                        <th>
                            Quantity
                        </th>
                    </tr>
                </thead>
            <tbody>
                    <tr>
                        <td>
                            Curly Fries
                        </td>
                        <td>
                            $2.99
                        </td>
                        <td>
                            300
                        </td>
                        <td contenteditable="true">
                            Enter Quantity
                        </td>
                    </tr>
                                <tbody>
                    <tr>
                        <td>
                            Waffle Fries
                        </td>
                        <td>
                            $3.99
                        </td>
                        <td>
                            400
                        </td>
                        <td contenteditable="true">
                            Enter Quantity
                        </td>
                    </tr>
                                <tbody>
                    <tr>
                        <td>
                            Mozerella Sticks
                        </td>
                        <td>
                            $4.99
                        </td>
                        <td>
                            600
                        </td>
                        <td contenteditable="true">
                            Enter Quantity
                        </td>
                    </tr>
            </table>
            <center><button type="button">Order</button></center>
            <br/>
            <form action='/home.html'>
                <input type="submit" value="Go Back to Landing Page" />
            </form>
        </div>
    </body>
</html>